<a href="https://colab.research.google.com/github/youngkwangjoo/oz_git/blob/main/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [2]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# 1. **결측치가 있는 행을 모두 제거하세요.**
iris.dropna(inplace=True)
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# 2. **중복된 행을 제거하세요.**
iris.drop_duplicates(inplace=True)
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

In [6]:
# 3. **'petal_length'가 5보다 큰 행만 선택하세요.**
filtered_iris = iris[iris['petal_length'] > 5]
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

In [7]:
# 4. **'species'에 따라 데이터를 그룹화하세요.**
grouped_iris = iris.groupby('species')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

In [8]:
# 5. **그룹화한 데이터에서 'sepal_length'의 평균을 계산하세요.**
mean_sepal_length = grouped_iris['sepal_length'].mean()
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

In [9]:
# 6. **'petal_length'를 기준으로 데이터를 오름차순으로 정렬하세요.**
iris.sort_values('petal_length', inplace=True)
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica

[149 rows x 5 columns]

In [10]:
# 7. **'petal_width'를 기준으로 데이터를 내림차순으로 정렬하세요.**
iris.sort_values('petal_width', inplace=True, ascending=False)
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
140           6.7          3.1           5.6          2.4  virginica
136           6.3          3.4           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
12            4.8          3.0           1.4          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa

[149 rows x 5 columns]

In [11]:
# 8. **'species'의 빈도수를 구하세요.**
iris['species'].value_counts()
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
140           6.7          3.1           5.6          2.4  virginica
136           6.3          3.4           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
12            4.8          3.0           1.4          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa

[149 rows x 5 columns]

In [12]:
# 9. **'species' 값 중 'setosa'를 포함하는 행만 선택하세요.**
setosa_rows = iris[iris['species'].str.contains('setosa')]
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
140           6.7          3.1           5.6          2.4  virginica
136           6.3          3.4           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
12            4.8          3.0           1.4          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa

[149 rows x 5 columns]

In [13]:
# 10. **'species' 값이 'setosa'로 시작하는 행을 선택하세요.**
setosa_start = iris[iris['species'].str.startswith('setosa')]
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
140           6.7          3.1           5.6          2.4  virginica
136           6.3          3.4           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
12            4.8          3.0           1.4          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa

[149 rows x 5 columns]

In [14]:
# 11. **'species' 값이 'virginica'로 끝나는 행을 선택하세요.**
virginica_end = iris[iris['species'].str.endswith('virginica')]
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
140           6.7          3.1           5.6          2.4  virginica
136           6.3          3.4           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
12            4.8          3.0           1.4          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa

[149 rows x 5 columns]

In [15]:
# 12. **'species'의 'setosa'를 'SETOSA'로 대체하세요.**
iris['species'] = iris['species'].str.replace('setosa', 'SETOSA')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
140           6.7          3.1           5.6          2.4  virginica
136           6.3          3.4           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
12            4.8          3.0           1.4          0.1     SETOSA
9             4.9          3.1           1.5          0.1     SETOSA
37            4.9          3.6           1.4          0.1     SETOSA
32            5.2          4.1           1.5          0.1     SETOSA
13            4.3          3.0           1.1          0.1     SETOSA

[149 rows x 5 columns]

In [16]:
# 13. **Iris 데이터셋에서 'species' 열을 제거하세요.**
iris.drop('species', axis=1, inplace=True)
print(iris)

     sepal_length  sepal_width  petal_length  petal_width
100           6.3          3.3           6.0          2.5
144           6.7          3.3           5.7          2.5
109           7.2          3.6           6.1          2.5
140           6.7          3.1           5.6          2.4
136           6.3          3.4           5.6          2.4
..            ...          ...           ...          ...
12            4.8          3.0           1.4          0.1
9             4.9          3.1           1.5          0.1
37            4.9          3.6           1.4          0.1
32            5.2          4.1           1.5          0.1
13            4.3          3.0           1.1          0.1

[149 rows x 4 columns]